<div class="body_container_home bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Smart Reveiw
      </h2>
      <p class="mt-2 text-lg text-gray-600">C'est quoi Un Smart Reveiw?</p>
      <p class="mt-2 text-lg text-gray-600">
        Un "Smart Review" pour les articles scientifiques est une approche
        moderne et intelligente de l'évaluation par les pairs. Contrairement aux
        méthodes traditionnelles de revue par les pairs, qui peuvent être
        longues et sujettes à des biais, un Smart Review utilise des
        technologies avancées pour améliorer l'efficacité et l'objectivité du
        processus.
      </p>
      <div class="image_container">
        <img
          class="smart_img"
          src="assets/images/smart_lawyer_image.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="mx-auto mt-3 lg:mx-0">
      <br />
      <br />
      <h3
        class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Article Scientifique
      </h3>
      <p class="mt-2 text-lg text-gray-600">
        C'est quoi Article Scientifique ?
      </p>
      <p class="mt-2 text-lg text-gray-600">
        Un article scientifique est un document écrit par des chercheurs et des
        experts dans un domaine spécifique pour partager les résultats de leurs
        recherches, leurs expériences ou leurs revues de littérature. Les
        articles scientifiques sont souvent publiés dans des revues académiques
        ou des conférences et sont soumis à un processus de revue par les pairs
        avant publication
      </p>
      <div class="image_container">
        <img class="smart_img" src="assets/images/droit-affaire-1.jpg" alt="" />
      </div>
    </div>
    <div
      class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2024</time>
          <a
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
            >Doctorant
          </a>
        </div>
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a>
              <span class="absolute inset-0"></span>
              Intelligence artificielle et publication scientifique
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            L'intelligence artificielle (IA) joue un rôle de plus en plus
            important dans le domaine de la publication scientifique, en
            apportant des améliorations significatives à différents niveaux du
            processus de recherche et de publication.
          </p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img
            src="assets/images/user_icon.jpg"
            alt=""
            class="h-10 w-10 rounded-full bg-gray-50"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a>
                <span class="absolute inset-0"></span>
                Mr. EL YAAKOUBI YOUSSEF
              </a>
            </p>
            <p class="text-gray-600">Chercheur</p>
          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2024</time>
          <a
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
            >Doctorant
          </a>
        </div>
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a>
              <span class="absolute inset-0"></span>
              Intelligence artificielle et publication scientifique
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            L'intelligence artificielle (IA) joue un rôle de plus en plus
            important dans le domaine de la publication scientifique, en
            apportant des améliorations significatives à différents niveaux du
            processus de recherche et de publication.
          </p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img
            src="assets/images/user_icon.jpg"
            alt=""
            class="h-10 w-10 rounded-full bg-gray-50"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a>
                <span class="absolute inset-0"></span>
                Mr. EL YAAKOUBI YOUSSEF
              </a>
            </p>
            <p class="text-gray-600">Chercheur</p>
          </div>
        </div>
      </article>      

      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2024</time>
          <a
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
            >Doctorant
          </a>
        </div>
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a>
              <span class="absolute inset-0"></span>
              Intelligence artificielle et publication scientifique
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            L'intelligence artificielle (IA) joue un rôle de plus en plus
            important dans le domaine de la publication scientifique, en
            apportant des améliorations significatives à différents niveaux du
            processus de recherche et de publication.
          </p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img
            src="assets/images/user_icon.jpg"
            alt=""
            class="h-10 w-10 rounded-full bg-gray-50"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a>
                <span class="absolute inset-0"></span>
                Mr. EL YAAKOUBI YOUSSEF
              </a>
            </p>
            <p class="text-gray-600">Chercheur</p>
          </div>
        </div>
      </article>   
      <!-- More posts... -->
    </div>
  </div>
</div>
